.title-margin {
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
}
 
.subtitle-margin {
    margin: 0px;
    margin-left: 20px;
    color: gray;
}

.rating-margin {
   margin-top: 20px;
   margin-left: 20px;
}

.rating-text-margin {
   margin-top: 5px;
   margin-right: 5px;
   color: gray;
}
 
.my-table-card {
    width: 50%;
    margin: auto;
    margin: 20px;
}