/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* *** My custom CSS *** */
body { background-color: #d3d3d3; }

.text-center {
    text-align: center;
}

.margin-top-1 {
    margin-top: 0.25rem;
}

.margin-top-3 {
    margin-top: 0.75rem;
}

.login-card {
    margin: auto;
    width: 20%;
}

@media screen and (max-width: 960px) {
    .login-card  {
      width: 80%;
    }
  }

.success-green {
    color: #7cfc00;
}

.success-blue {
    color: #1E90FF;
}

.my-dialog-container .mat-dialog-container {
    padding: 0px;
}

.my-dialog-container .mat-dialog-container {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.my-dialog-container .mat-dialog-container::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
