<h1 class="mat-display-1 title-margin">Evenimente</h1>
<h3 class="mat-subheading-3 subtitle-margin">Alegeți unul dintre evenimentele de mai jos</h3>

<form [formGroup]="filterEventsForm" autocomplete="off">
  <mat-form-field appearance="fill" style="margin-left: 20px">
    <mat-label>Caută</mat-label>
    <input matInput formControlName="search" id="search" placeholder="Caută">
  </mat-form-field>

  <mat-form-field appearance="fill" style="margin-left: 20px">
    <mat-label>Oraș</mat-label>
    <mat-select formControlName="city">
      <mat-option *ngFor="let city of romanianCities" [value]="city">
        {{city}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" style="margin-left: 20px">
    <mat-label>Gen muzical</mat-label>
    <mat-select formControlName="genre_type">
      <mat-option *ngFor="let genre of genreTypes" [value]="genre">
        {{genre}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" style="margin-left: 20px">
    <mat-label>Data</mat-label>
    <input matInput [matDatepicker]="date_picker" formControlName="date" id="date" placeholder="Data">
    <mat-datepicker-toggle matSuffix [for]="date_picker"></mat-datepicker-toggle>
    <mat-datepicker #date_picker></mat-datepicker>
  </mat-form-field>

  <button mat-mini-fab color="secondary" style="margin-left: 20px" aria-label="Resetează filtrele" (click)="resetFilter()">
    <mat-icon>cancel</mat-icon>
  </button>
</form>

<mat-progress-bar color="primary" *ngIf="isTableLoading" mode="indeterminate"
    style="margin: auto; margin-top: 20px">
</mat-progress-bar>

<div *ngFor="let event of filteredEvents" style="display: inline-flex">
  <mat-card class="example-card">
      <mat-card-header>
          <div mat-card-avatar>
              <mat-icon>music_note</mat-icon>
          </div>
          <mat-card-title>{{ event.title }}</mat-card-title>
          <mat-card-subtitle>{{ event.genre_type }}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image class="example-header-image" [src]="event.image_url">

      <mat-card-content>
        <div style="height: 50px">
          {{ event.description.length > 63 ? event.description.substring(0, 60) + '...' : event.description }}
        </div>
        <mat-chip-list>
          <mat-chip color="primary" selected>{{ event.city }}</mat-chip>
          <mat-chip color="secondary" selected>{{ event.start_date | date }} - {{ event.end_date | date }}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openDialog(event._id, event.title)">
          <mat-icon style="margin-right: 3px; color: limegreen">add_circle_outline</mat-icon>
          <span style="vertical-align: -0.1rem">REZERVA</span>
        </button>
        <button mat-button [routerLink]="['/', 'events', 'reviews', event._id]">
          <mat-icon style="margin-right: 3px; color: #fff44f">star</mat-icon>
          <span style="vertical-align: -0.1rem;">RECENZII</span>
        </button>
      </mat-card-actions>
  </mat-card>
</div>
