.title-margin {
   margin: 20px;
   margin-top: 30px;
   margin-bottom: 5px;
}

.subtitle-margin {
   margin: 0px;
   margin-left: 20px;
   color: gray;
}

.example-card {
   width: 250px;
   margin: 20px;
 }
 
.example-header-image {
   height: 200px;
}
